
body {
    background-color: #023e7d;
}

#title {
    color: #e0e1dd;
    font-size: 50px;
    border: 10px solid black;
    display: flex;
    justify-content: center;
    margin-left: 400px;
    margin-right: 400px;    
}

.loginElements img { 
    width: 30px;
    margin-right: 10px
}

.loginElements p {
    color: #e0e1dd;
    font-size: 20px;
}

.loginElements {
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 10px 10px 10px 10px;
}

.loginElements a {
    text-transform: uppercase;
    text-decoration: none;
    color: yellow;
}

#mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 30px 30px 30px ;
    color: rgb(229, 184, 129);
    
    
}

#referee h2 {
    color:aquamarine;
}


#referee  {
    padding: 30px 30px 30px 30px ;
    color: rgb(229, 184, 129);
}


#referee a {
    color: yellow;
    text-transform: uppercase;
}

