body {
    background-image: url('../immagini/stadio.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    
}

.title {
    margin-top: 10%;
    font-size: 20px;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    color: #ACD7EC;
    font-family:Arial, Helvetica, sans-serif;
    color: #D6EDFF;
    
}

#introPhrase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -30px;
    font-size: 20px;
    color: #D6EDFF;
}

.menu ul{
    position: fixed;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
    padding: 20px;
    width: 100%;
    overflow: hidden;    
}

.menu ul li img{
    width: 20px;
    padding-right: 20px;
    
}

.menu li{
    border-right: solid 1px rgb(199, 243, 246);
    padding: 10px 10px 10px 10px;
    margin: 0px;
}



.menu a{
    color: white;
    font-size: 17px;
    padding: 20px;
    
    text-decoration: none;
    text-transform: uppercase;
    
    

}

.menu a:hover{
    padding: 20px;
    color: #6cade2;
}


.functionality{
    color: white;
    padding-top: 20%;
    margin-left: 20px;
    font-family: 'Georgia', serif;
}

.functionality ul {
    list-style-type: square;
}