
html, body {
    height: 100%;
    margin: 0;
    padding: 0;    
}

footer {
    margin-top: 10%;
    
    margin-bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
    color: #e0e1dd;
    padding: 20px 10px;
    font-family: 'Arial', sans-serif;
    border-top: 2px solid #6cade2;
    
}

.footerElements {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    
}

.footerElements div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
   
}

footer h3 {
    color: aquamarine;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

footer p {
    font-size: 14px;
    margin: 5px 0;
    color: rgb(229, 184, 129);
}

footer a {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #6cade2;
}

footer img {
    width: 40px;
    height: auto;
    margin-top: 5px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}
