body {
    width: 100%;
    
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
    font-family: 'Poppins', Arial, sans-serif;
    color: #e0e1dd;
    margin: 0;
    padding: 0;
  
}

header {
    margin-top: 0;
    background-color: #000;
}



#list {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style-type: none; /*serve a togliere i puntini*/
    margin: 0;
    padding: 20px;
    width: 100%;
    overflow: hidden;
    
    background-color: black;
    opacity: 0.5;
    color: black;
}

#list li img {
    width: 25px;
    padding-right: 20px;
    transition: transform 0.3s ease;
}

#list li img:hover {
    transform: scale(1.1);
}

.menu li {
    border-right: solid 1px rgba(199, 243, 246, 0.6);
    padding: 12px;
    margin: 0;
    height: 24px;
}

.menu a, span {
    color: white;
    font-size: 18px;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.menu a:hover {
    color: #6cade2;
    text-shadow: 0 0 5px #6cade2;
}

#log {
    display: block;
    justify-content: center;
    width: 100px;
    margin-left: -45px;
    margin-top: -10px;
} 

#login {
    margin-left: 10px;
}

#access {
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 5px;
}

#title1 {
    color: #ffffff;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 60px auto;*/
    margin-top: 100px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
}

#title2 {
    color: #ffffff;
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 100px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
}
