
body {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../immagini/pallone.jpg');
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    font-family: 'Poppins', Arial, sans-serif;
    color: #e0e1dd;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: auto; 
}

#mainContent {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    max-width: 900px;
    margin: 40px auto; 
    padding: 40px;
    background: rgba(0, 0, 0, 0.7); 
    border-radius: 10px;
}

#mainContent h3 {
    color: #91e4f9;
    font-size: 24px;
    margin-top: 20px;
    text-transform: uppercase;
}

#mainContent p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #e0e1dd;
    max-width: 800px;
}

#mainContent ul {
    
    padding: 0;
    justify-items: left; 
    align-items: left;
}

#mainContent li {
    font-size: 18px;
    margin: 8px 0;
}

#mainContent a {
    color: yellow;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease;
}

#mainContent a:hover {
    color: orange;
}

.videoAuto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.videoAuto video {
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
}
