body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2f;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #fff;
    overflow-x: hidden;
    
}
h2 {
    margin-top: 70%;
    
}

.title-container {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
    
}




.loginArea {
    background-color: rgba(241, 196, 15, 0.8);;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    color: black;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.login {
    background: #ff7f50;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login:hover {
    background: #ff5722;
}
