body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2f;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.tables{
    position: absolute;
    top: 80px;
    left: 100px;
}

table {
    width: 150%;
    max-width: 1000px;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

th, td {
    padding: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: left;
}

th {
    background-color: rgba(241, 196, 15, 0.8);
    color: black;
    font-weight: bold;
    
}

td {
    font-size: 16px;
}

#tableTeam2{
    margin-top: 50px;
}

table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


#results {
    position: absolute;
    top: 370px; /* Regola la distanza dall'alto */
    right: 190px; /* Sposta il contenitore a destra */
    font-size: 24px; /* Ingrandisce il testo */
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1); /* Sfondo leggero */
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    display: inline-block; /* Impedisce l'allargamento dell'elemento */
}

#results h2 {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px; /* Distanza tra elementi */
}


#team1Name, #team2Name {
    font-size: 22px;
}

#score0, #score1 {
    font-size: 26px;
    font-weight: bold;
    color: yellow; /* Risalta il punteggio */
}

#ammoniti, #espulsioni {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px; /* Distanza tra ammoniti e espulsioni */
}

.num_espulsi {
    font-size: 20px;
    color: #c0392b; /* Colore rosso per espulsioni */
}

.num_ammoniti{
    font-size: 20px;
    color: yellow;
}

#results h2 {
    margin-bottom: 10px; /* Spazio extra sotto l'intestazione */
}


#bottone input[type="submit"] {
    padding: 10px 20px;
    background-color: #f39c12; /* Colore di sfondo del bottone */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#bottone input[type="submit"]:hover {
    background-color: #e67e22; /* Colore al passaggio del mouse */
}