
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to left, #8a2929, #003180);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #fff;
}

.contents {
    padding-top: 30%;
}

.titleContainer {
    text-align: center;
    margin-top: 100px;
    font-size: 24px;
    font-weight: bold;
    display: block;
    position: relative;
    z-index: 2;
}

.titleContainer h2 {
    color: #FFD700;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 15px;
}

.red {
    display: none;
    color: red;
    text-align: center;
}

.red img {
    width: 150px;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.registrationArea {
    background-color: black;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.sendData {
    background: #ff7f50;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.sendData:hover {
    background: #ff5722;
}

#submit a {
    color: #FFD700;
}
